.grid {
  --gridColums: 1;

  display: grid;
  grid-template-columns:
          repeat(var(--gridColums), 1fr);
  gap: 40px;

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColums: #{$i};

    }

  }

}