.section {
  padding-block: var(--section-pading-y);

  &--hidden-x {
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 40px;

    @include mobile {
      flex-direction: column;
      row-gap: 30px;

    }

    &:not(:last-child) {
      margin-bottom: 80px;

    }

  }

  &__description {
    max-width: 580px;

  }
}